<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; {{ 'now' | date: "%Y" }} <img src="https://raw.githubusercontent.com/chiatzenw-cur/chiatzenw-cur.github.io/refs/heads/main/favicon.ico" alt="Site Icon" class="footer-favicon" style="width: 16px; height: 16px; vertical-align: middle; margin-right: 4px;"> {{ site.title | escape }}. All rights reserved.</p>
      <p class="crt-text">TRANSMISSION SECURED • FREQUENCY LOCKED • SIGNAL CLEAR</p>
      {%- if site.author -%}
        <p>Operated by {{ site.author | escape }}</p>
      {%- endif -%}
      {%- if site.email -%}
        <p>
          <svg class="svg-icon">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
          </svg>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      {%- endif -%}
    </div>
  </div>
</footer>